#app-bar
  #login-buttons
    position absolute
    right 24px
    @media (min-device-width: 320px) and (max-device-width : 568px)
      right 16px


#login-buttons
  #login-buttons-google
    height 24px
    line-height 24px
    background-color: #D34836
    border 0px
    margin-top 16px
    @media (min-device-width: 320px) and (max-device-width : 568px)
      margin-top 12px

#app-bar,
#app-bar2
  .icon-button
    height 12px
    font-size 12px
    padding-top 18px
    padding-bottom 18px
