#app-bar
  #login-buttons
    position absolute
    right 24px


#login-buttons
  #login-buttons-google
    height 24px
    line-height 24px
    margin-top -4px
    background-color: #D34836
    border 0px

