template(name="appBar")
  #app-bar
    .app-bar
      .nav-icon
        .icon-button
          i.icon-material-menu
      .title
        a(href="{{pathFor 'index'}}")  Mooqr
        
      unless currentUser
        +loginButtons
      
template(name="appBar2")
  #app-bar2
    .app-bar2
      .nav-icon
        .icon-button
          i.icon-material-menu
      .title
        a Mooqr
        
      


      
