template(name="layout")

  // should move to some other place
  link(href="http://fonts.googleapis.com/css?family=Roboto:400,500,700", rel="stylesheet", type="text/css")

  +appBar
  +sideBar
  +yield
