template(name="layout")

  // should move to some other place
  +commonLayout
  +userVoice
  +appBar
  +sideBar
  +yield


template(name="indexLayout")
  +commonLayout

  //+appBar2
  //+sideBar
  +yield

template(name="commonLayout")
  +snackbars
