template(name="layout")

  // should move to some other place
  +commonLayout


  +appBar
  +sideBar
  +yield
  +userVoice


template(name="indexLayout")
  +commonLayout

  +appBar2
  +sideBar
  +yield

template(name="commonLayout")
  meta(name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no")
  link(href="http://fonts.googleapis.com/css?family=Roboto:400,500,700", rel="stylesheet", type="text/css")
