template(name="sideBar")
  #side-bar(class="{{active}}")
    .header
       
      if currentUser
        with currentUser.profile
          img.avatar(src="{{currentUser.profile.picture}}", style="width:48px")
          p {{currentUser.profile.name}}
      else
        .avatar

    .divider

    .lists
      br
      .list
        a.item-plans(href="{{pathFor 'plans'}}")
          span.icon
            i.ion-android-note
          span Plans
      //.list
      //  a.item-groups(href="{{pathFor 'groups'}}")
      //    span.icon 
      //      i.ion-android-social
      //    span Groups
      if currentUser
        .list
          a.item-logout
            span.icon
              i.ion-log-out
            span Log Out
