template(name="sideBar")
  #side-bar(class="{{active}}")
    .header
       
      if currentUser
        with currentUser.profile
          img.avatar(src="{{currentUser.profile.picture}}", style="width:48px")
          p {{currentUser.profile.name}}
      else
        .avatar

    .divider

    .lists
      .list
        i.ion-android-note
        a(href="{{pathFor 'plans'}}") Plans
