template(name="sideBar")
  #side-bar(class="{{active}}")
    .header
       
      img.avatar(src="{{user.profile.picture}}", style="width:48px")
      h2 {{user.profile.name}}
      h2 {{user.profile.email}}

    .divider

    .lists
      .list
        i.ion-android-note
        a(href="{{pathFor 'plans'}}") Plans
