<!-- to embed the uservoice widget -->
<!-- from https://mooqr.uservoice.com/admin/settings/widgets -->
<template name="userVoice">
  <script>
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/sjZyZrHRCbgduDjq1a5juQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  // Set colors
  UserVoice.push(['set', {
    accent_color: '#448dd6',
    trigger_color: 'white',
    trigger_background_color: '#448dd6'
  }]);

  // Identify the user and pass traits
  // To enable, replace sample data with actual user traits and uncomment the line

  Tracker.autorun(function() {
    var user = Meteor.user();

    if (user) {
      UserVoice.push(['identify', {
        email: Meteor.user().profile.email,
        name: Meteor.user().profile.name
      }]);
    } else {
      UserVoice.push(['identify', {}]);
    }

  });

  // Add default trigger to the bottom-right corner of the window:
  UserVoice.push(['addTrigger', { 
    mode: 'satisfaction', 
    trigger_style: 'tab', 
    trigger_position: 'bottom-left'
  }]);

  // Or, use your own custom trigger:
  //UserVoice.push(['show', '#feedback', { mode: 'contact'}]);

  // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}]);
  </script>
</template>

