@import 'nib'

// global
a
  text-decoration none
  //color rgba(0, 0, 0, .87)

// colors
primary = #3F51B5
primary = #5677fc
primary = #03a9f4
primary-light = #C5CAE9
primary-dark = #303F9F
white = #FFFFFF

blue-500 = #5677fc
blue-600 = #4e6cef
blue-700 = #455ede

lightblue-500 = #03a9f4
lightblue-600 = #039be5
lightblue-700 = #0288d1

grey-200 = #eeeeee
grey-300 = #e0e0e0
grey-400 = #bdbdbd


// font weight
regular = 400
medium = 500
bold = 700

// typography
// FIXME find a better way to set default color
typog-headline()
  font-weight regular
  font-size 24px
  line-height 32px
  color rgba(0, 0, 0, 0.87)

typog-title()
  font-weight medium
  font-size 20px
  color rgba(0, 0, 0, 0.87)

typog-subhead()
  font-weight regular
  font-weight 15px
  // FIXME font-size 16px for devices
  color rgba(0, 0, 0, 0.87)
  line-height 24px
//FIXME consider subhead2 if need

typog-body1()
  font-weight regular
  font-size 13px
  // FIXME font-size 14px for devices
  color rgba(0, 0, 0, 0.87)
  line-height 20px

typog-body2()
  font-weight medium
  font-size 13px
  // FIXME font-size 14px for devices
  color rgba(0, 0, 0, 0.87)
  line-height 24px

typog-caption
  font-weight regular
  font-size 12px
  color rgba(0, 0, 0, 0.54)

typog-menu()
  font-weight medium
  font-size 13px
  // FIXME font-size 14px for devices
  color rgba(0, 0, 0, 0.87)

typog-button()
  font-weight medium
  font-size 14px
  text-transform uppercase
  color rgba(0, 0, 0, 0.87)

typog-list-title()
  font-weight regular
  font-size 16px
  color rgba(0, 0, 0, 0.87)



body
  background rgba(0, 0, 0, 0.1)
  font-family 'Roboto', sans-seri



/*
 * Utilities
 */

// shadow
shadow(z-depth=1)
  // box-shadow( x-offset, y-offset, blur, 0px, rgba(0, 0, 0, opacity) )
  if z-depth == 1
    box-shadow: 0 0px 1.5px 0px rgba(0, 0, 0, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.24)
  else if z-depth == 2
    box-shadow 0 0px 3px 0px rgba(0, 0, 0, 0.16), 0 3px 3px 0px rgba(0, 0, 0, 0.23)
  else if z-depth == 3
    box-shadow 0 0px 10px 0px rgba(0, 0, 0, 0.19), 0 6px 3px 0px rgba(0, 0, 0, 0.23)
  else if z-depth == 4
    box-shadow 0 0px 14px 0px rgba(0, 0, 0, 0.25), 0 10px 5px 0px rgba(0, 0, 0, 0.22)
  else if z-depth == 5
    box-shadow 0 0px 30px 0px rgba(0, 0, 0, 0.30), 0 15px 6px 0px rgba(0, 0, 0, 0.22)

// Material List Element
.list
  list-style none
  padding-left 0

  .list-item + .list-item
    margin-top 8px
  .list-item
    clearfix()
    > *
      float left

    .checkbox   
      width 30px
      height 30px
      margin-right 26px

    .content
      typog-list-title()
      height 30px
      line-height 30px

// button
.button
  typog-button()
  //FIXME
  margin-left 5px
  margin-right 5px
  &:focus
    outline none

  &.flat-button
    border 0
    background white

    &.save-button
      color #4285F4

  &.raised-button
    border 0
    background grey-300
    border-radius 2px
    min-width 88px
    height 36px
    line-height 36px
    text-align center
    shadow 1
    cursor pointer

  &.float-button
    border 0
    background primary
    width 48px
    height 48px
    border-radius 24px
    color white
    font-size 24px
    line-height 45px
    text-align center
    position fixed
    right 50px
    bottom 50px
    shadow 2
    z-index 3
    cursor pointer

// checkbox
// https://github.com/nt1m/material-framework/blob/master/css/material.css
.checkbox

  //display inline-block
  //vertical-align top
  cursor pointer
  user-select none

  label
    cursor pointer

  input[type="checkbox"]
    display none

  input[type="checkbox"] + label 
    //border-radius 100%
    width 30px
    height 30px
    display inline-block
    //background transparent
    //transition all 0.2s
    //position relative
    //box-shadow 0 0 0 transparent

  //input[type="checkbox"] + label:active
  //  box-shadow 0 0 0 9px rgba(15, 157, 88, 0.29)
  //  background rgba(15, 157, 88, 0.29)

  //input[type="checkbox"]:checked + label:active
  //  background rgba(204, 204, 204, 0.8)

  input[type="checkbox"] + label::after
    content ""
    border 2px solid #5A5A5A
    width 18px
    height 18px
    display inline-block
    position relative
    margin-top 4px
    margin-left 4px
    margin-bottom 1px
    //animation checkbox 0.3s reverse

  input[type="checkbox"]:checked + label::after
    transform rotate(45deg)
    top -4px
    left 6px
    width 10px
    height 21px
    border-width medium 2px 2px medium
    border-top 0 none #0F9D58
    border-left 0 none #0F9D58
    border-color #0F9D58
    margin-bottom 0
    //animation checkbox2 0.3s alternate


@keyframes checkbox {
  0% {
    transform none
  }
  50% {
    transform scale(0.1)
  }
  100% {
    transform rotate(45deg)
  }
}
@keyframes checkbox2 {
  0% {
    transform none
  }
  50% {
    transform scale(0.1)
  }
  100% {
    transform rotate(45deg)
  }
}




// divider
divider = 1px solid #a0afbb
divider()
  border-top 1px solid #a0afbb
.divider
  border-top 1px solid #a0afbb
    
// container
container()
  max-width calc(100% - 16px)
  width 900px
  margin-left auto
  margin-right auto

#app-bar2
  height 256px
.app-bar2
  width 100%
  height 256px

  color white
  a
    color white
  background primary
  shadow 2
  z-index 2
  position relative
  box-sizing border-box

  padding 0 20px 0 20px

  clearfix()
  > *
    float left

  .nav-icon
    position fixed
    font-size 24px
    cursor pointer
    width 24px
    height 64px
    line-height 64px

  .title
    position absolute
    left 60px

    typog-headline()
    color white

    line-height 300px
    height 256px
    font-size 56px

  &.shrink
    .title
      position fixed
      height 64px
      line-height 64px
      font-size 24px
  &.fixed
    position fixed
    height 64px


.app-bar2
  height 256px
// App bar
#app-bar
  height 64px
.app-bar
  background primary
  color white
  a
    color white
  width 100%
  height 64px
  shadow 2
  z-index 2
  position fixed

  padding 20px 24px 20px 24px

  box-sizing border-box

  clearfix()
  > *
    float left

  .nav-icon
    font-size 24px
    width 24px
    height 24px
    text-align center
    line-height 24px
    margin-right 32px
    cursor pointer

  .title
    typog-headline()
    font-size 24px
    color white
    line-height 24px
    height 24px

// sidebar
//#side-bar
side-bar-width = 300px
#side-bar

  width side-bar-width
  min-height 100%

  background white

  position fixed
  top 0
  left 0

  z-index 3
  shadow 3

  transform translateX( - side-bar-width )
  &.active
    transform translateX( 0 )
  transition 0.2s ease all
  

  .header
    height 150px
    padding 16px
    .avatar
      width 48px
      height 48px
      border-radius 24px
      background black

  .lists
    .list
      a
        padding 16px
        display block
        color black
        cursor pointer
        &:hover
          background #F1FAF6

        span.icon
          // FIXME
          display inline-block
          width 60px
          i
            font-size 24px
        span
          font-size 20px
          vertical-align 10%

card()
  background white
  border-radius 2px

.card
  background white
  border-radius 2px
  shadow 1

  margin-bottom 8px

  .title
    typog-headline()

  .content
    padding 16px
    font-size 14px
    font-weight regular

    .title
      typog-headline()

dialog(z-depth=2)
  background white
  border-radius 2px
  shadow z-depth
  position fixed
  z-index z-depth

.plan-dialog,
.module-dialog
  dialog(3)
  padding 24px
  width 600px
  top 200px
  left calc((100% - 600px) / 2)

  .dialog-header
    typog-headline()
    margin-bottom 30px

  .dialog-footer   
    clearfix()
    .button
      float right

.task-dialog
  dialog(3)
  padding 24px
  width 600px
  top 200px
  left calc((100% - 600px) / 2)

  .dialog-header
    typog-headline()
    margin-bottom 30px

  .dialog-footer   
    clearfix()
    .button
      float right




//input
// http://scotch.io/tutorials/css/google-material-design-input-boxes-in-css3
.input-text

  position relative
  margin-bottom 45px

  input 
    font-size 18px
    padding 10px 10px 10px 5px
    display block
    width 300px
    box-sizing border-box
    border none
    border-bottom 1px solid #757575
    &:focus
      outline none

  label
    color #999
    font-size 18px
    font-weight normal
    position absolute
    pointer-events none
    left 5px
    top 10px
    transition 0.2s ease all

  input:focus ~ label
  input:valid ~ label
    top -20px
    font-size 14px
    color #5264AE

  // BOTTOM BARS
  .bar
    position relative
    display block
    width 300px
    background blue

    &::before,
    &::after
      content ""
      height 2px
      width 0
      bottom 1px
      position absolute
      background #5264AE
      transition 0.2s ease all
    &::before
      left 50%
    &::after
      right 50%

  input:focus ~ .bar::before,
  input:focus ~ .bar::after
    width 50%

  // HIGHLIGHTER 
  .highlight
    position absolute
    height 60%
    width 100px
    top 25%
    left 0
    pointer-events none
    opacity 0.5
  input:focus ~ .highlight
    animation input-highlighter 0.3s ease

@keyframes input-highlighter {
  form {
    background #5264AE
  }
  to {
    width 0
    background transparent
  }
}

.input-textarea

  position relative
  margin-bottom 45px

  textarea
    overflow hidden
    resize none
    height 24px
    line-height 24px
    font-size 18px
    padding 10px 10px 10px 5px
    display block
    width 285px
    border none
    border-bottom 1px solid #757575
    &:focus
      outline none

  label
    color #999
    font-size 18px
    font-weight normal
    position absolute
    pointer-events none
    left 5px
    top 10px
    transition 0.2s ease all

  textarea:focus ~ label
  textarea:valid ~ label
    top -20px
    font-size 14px
    color #5264AE

  // BOTTOM BARS
  .bar
    position relative
    display block
    width 300px
    background blue

    &::before,
    &::after
      content ""
      height 2px
      width 0
      bottom 1px
      position absolute
      background #5264AE
      transition 0.2s ease all
    &::before
      left 50%
    &::after
      right 50%

  textarea:focus ~ .bar::before,
  textarea:focus ~ .bar::after
    width 50%

  // HIGHLIGHTER 
  .highlight
    position absolute
    height 60%
    width 100px
    top 25%
    left 0
    pointer-events none
    opacity 0.5
  textarea:focus ~ .highlight
    animation textarea-highlighter 0.3s ease

@keyframes textarea-highlighter {
  form {
    background #5264AE
  }
  to {
    width 0
    background transparent
  }
}


    
// index
#index
  .container
    container()

  section.welcome 
    //height 660px
    //height calc(100vh - 256px)
    //position relative
    .content
      text-align center

    //.content
    //  position relative
    //  top 100px
    //  .title
    //    font-size 34px
    //    text-align center
    //    typog-headline()
    //    margin-bottom 50px
    //  .login
    //    text-align center

    //.learn-more
    //  position relative
    //  width 120px
    //  bottom 60px
    //  left calc(50% - 40px)
    //  cursor pointer
    //  i
    //    font-size 14px

  section
    max-height calc(100vh - 64px)
    height 500px
    container()
    clearfix()
    > * 
      float left
    .image
      width 450px
      box-sizing border-box
      padding-left 25px
      padding-right 25px
      position relative
      top 50%
      transform translateY(-50%)
    .content
      width 450px
      box-sizing border-box
      padding-left 25px
      padding-right 25px
      position relative
      top 50%
      transform translateY(-50%)
      .title
        typog-headline()
        font-size 34px
        margin-bottom 20px
      .description
        typog-body1

  .bottom-login
    text-align center
    #login-buttons
      #login-buttons-google
        width 200px
        height 34px
        line-height 34px

.card2

  card()
  shadow 1

  .card-header
    height 64px
    clearfix()
    > *
      float left
    .title
      // FIXME check box-sizing
      box-sizing border-box
      width calc(100% - 120px)
      height 64px
      line-height 64px
      padding-left 24px

      // truncate
      text-overflow ellipsis
      white-space nowrap
      overflow hidden

    .menu
      float right
      width 48px
      height 64px
      line-height 64px
      padding-right 8px

    .buttons
      float right
      line-height 64px
      height 64px
      padding-top 14px
      padding-right 20px

  .card-divider
    divider()

  .card-content
    padding 16px
    font-size 14px
    font-weight regular

    .title
      typog-headline()


#plans
  .container
    container()

  .your-plans,
  .followed-plans,
  .discover-plans
    .header
      typog-subhead()

  .plan2 + .plan2
    divider()
  .plan2
    cursor pointer
    .title
      width 70%
    .button
      margin-top 14px
      margin-right 24px
      float right

  .plan
    clearfix()
    > *
      float left
    padding 16px
    cursor pointer
    &:hover
      background #F1FAF6
    .plan-title 
      width 90%
    .plan-more
      position relative

      text-align right
      width 10%
      color rgba(0, 0, 0, 0.2)
      &:hover
        color rgba(0, 0, 0, 1)
      i
        transform rotate(90deg)
        font-size 20px

      .plan-item-more-menu
        position absolute
        &:not(.active)
          display none
        top -5px
        right -5px
        z-index 4
        

  .plan + .plan 
    border-top divider

  
#plan
  .container
    container()

  .module
    margin-bottom 20px

// FIXME TODELETE
#udacity359
  .container
    container()


  .card
    .content
      clearfix()
    .progress-bar
      height 20px
      background primary-light

    ul.tasks
      list-style none
      padding-left 0

      .task + .task
        margin-top 8px
      .task
        clearfix()
        > *
          float left

        .checkbox   
          width 30px
          height 30px
          margin-right 26px

        .task-content
          typog-list-title()
          height 30px
          line-height 30px

.search-bar
  height 64px
  clearfix()
  > label > *
    float left
    height 64px
    line-height 64px

  .search-icon
    box-sizing border-box
    padding-left 24px
    width 80px
  .search-input
    width calc(100% - 160px)
    input
      width 100%
      font-size 20px
      box-sizing border-box
      border none
      &:focus
        outline none
  .search-clear
    text-align right
    box-sizing border-box
    padding-right 24px
    width 80px
    float right
    cursor pointer
   

// progress-bar
.progress
  clearfix()
  > *
    float left
  padding-left 10px
  padding-right 10px

  .progress-bar-container
    width 90%
    height 36px
    background #C8C8C8
    .progress-bar
      transition width 1s
      width 0%
      height 36px
      background primary-dark

  .progress-percentage-container
    width 10%
    .progress-percentage
      line-height 36px
      height 36px
      font-size 20px
      text-align right
      color black

