head
  title Mooqr
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(href="http://fonts.googleapis.com/css?family=Roboto:400,500,700", rel="stylesheet", type="text/css")
  link(type="text/css",rel="stylesheet",href="https://vjs.zencdn.net/4.5.1/video-js.css")
  script(src="https://vjs.zencdn.net/4.5.1/video.js")
  script(src="http://guaries.opennote.info/wp-content/uploads/2014/09/youtube.js")

