template(name="plan")
  #plan
    br
    br
    .container

      .card
        .content
          .title {{planName}}
          button.add-module ADD NEW MODULE
        .divider
        .content
          br

      each modules
        +module

      +taskDialog


template(name="module")
  .card.module
    .content
      .title {{moduleName}}
      button.add-task ADD NEW TASK
    .divider
    .content
      ul.tasks
        each tasks
          li.task
            .checkbox
              input(type="checkbox", checked="{{done}}", id="{{_id}}")
              label(for="{{_id}}")
            .task-content {{taskName}}
            
template(name="taskDialog") 
  .task-dialog

    .dialog-header New task

    .task-name
      +UI.dynamic template="inputText" data=taskName

    //.task-content
    //  +UI.dynamic template="inputTextarea" data=content

    .dialog-footer
      button.button.flat-button.save-button save
      button.button.flat-button.cancel-button cancel


template(name="inputText")
  .input-text
    input(type="text", required)
    span.highlight
    span.bar
    label {{label}}

template(name="inputTextarea")
  .input-textarea
    textarea(required)
    span.highlight
    span.bar
    label {{label}}


