template(name="plan")
  #plan
    br
    br
    .container

      .card
        .content
          .title {{planName}}
          button.add-module ADD NEW MODULE
        .divider
        .content
          br

      each modules
        +module


template(name="module")
  .card.module
    .content
      .title {{moduleName}}
      button.add-task ADD NEW TASK
    .divider
    .content
      ul.tasks
        each tasks
          li.task
            .checkbox
              input(type="checkbox", checked="{{done}}", id="{{_id}}")
              label(for="{{_id}}")
            .task-content {{taskName}}

template(name="moduleDialog")
  .module-dialog
    +autoForm id="moduleDialog" collection="Modules"
      .dialog-header New Module

      .module-name
        +UI.dynamic template="inputText" data=moduleName

      .dialog-footer
        button.button.flat-button.save-button(type="submit") save
        button.button.flat-button.cancel-button(type="button") cancel

template(name="taskDialog") 
  .task-dialog
    +autoForm id="taskDialog" collection="Tasks"
      .dialog-header New Task

      .module-name
        +UI.dynamic template="inputText" data=taskName

      .dialog-footer
        button.button.flat-button.save-button(type="submit") save
        button.button.flat-button.cancel-button(type="button") cancel


template(name="inputText")
  .input-text
    //input(type="text", required)
    +afFieldInput name=fieldName template="plain"
    span.highlight
    span.bar
    +afFieldLabel name=fieldName template="plain"
    //label {{label}}

template(name="inputTextarea")
  .input-textarea
    textarea(required)
    span.highlight
    span.bar
    label {{label}}


