template(name="inputText")
  .input-text
    +afFieldInput name=fieldName template="plain" required=true
    span.highlight
    span.bar
    +afFieldLabel name=fieldName template="plain"

template(name="inputTextarea")
  .input-textarea
    textarea(required)
    span.highlight
    span.bar
    label {{label}}

