template(name="module")

  if isOwner 
    .module.card2.sortable-module(id="{{_id}}")
      .card-header
        .title {{moduleName}}
        
        .menu
          +UI.dynamic template="menuButton" data=moduleMenuData

      .card-divider

      if isContent
        .card-content 
          .module-link 
            a(href="{{moduleLink}}", target="_blank") {{moduleLink}}
          .module-description {{moduleDescription}}
        .card-divider


      if tasks
        .card-content
          .tasks.list
            each tasks
              +task

  else
    .module.card2.non-sortable-module(id="{{_id}}")
      .card-header
        .title {{moduleName}}

      .card-divider

      if isContent
        .card-content 
          .module-link 
            a(href="{{moduleLink}}", target="_blank") {{moduleLink}}
          .module-description {{moduleDescription}}
        .card-divider


      if tasks
        .card-content
          .tasks.list
            each tasks
              +task

