template(name="module")
  .module.card2(id="{{_id}}")
    .card-header
      .title {{moduleName}}
      if isOwner
        .menu
          +UI.dynamic template="menuButton" data=moduleMenuData

    .card-divider

    .card-content
      .tasks.list
        each tasks
          +task



