template(name="plan")
  #plan
    br
    br
    .container

      .plan.card2
        .card-header
          .title {{planName}}
          if isOwner
            .menu
              +UI.dynamic template="menuButton" data=planMenuData
          
      br
      br
      br

      //.card.plan
      //  .header
      //    .plan-name {{planName}}
      //    if isOwner
      //      .plan-menu
      //        +UI.dynamic template="menuButton" data=planMenuData

      //  .divider

      each modules
        +module


      br
      br
      br
      br
      br
