template(name="progress")
  .progress
    .progress-bar-container
      .progress-bar(style="width: {{percentage}}")
    .progress-percentage-container
      .progress-percentage {{percentage}}

template(name="plan")
  #plan
    .container
      if isUserPlan
        .progress-padding
        +progress

      br
      .plan2.card2
        .card-header
          .title {{planName}}
          if isOwner
            .menu
              +UI.dynamic template="menuButton" data=planMenuData
          else
        .card-divider

        if isContent
          .card-content 
            .plan-link
              a(href="{{planLink}}", target="_blank") {{planLink}}
            .plan-description {{planDescription}}
          .card-divider

        .card-footer 
          span {{followers}} Followers
          unless isOwner
            .buttons
              if isFollowed
                .button.raised-button.unfollow unfollow
              else
                .button.raised-button.follow follow

      br

      .sortableData
        each modules
          +module


      br
