template(name="progress")
  .progress
    .progress-bar-container
      .progress-bar(style="width: {{percentage}}")
    .progress-percentage-container
      .progress-percentage {{percentage}}

template(name="plan")
  #plan
    br
    br
    .container

      .plan.card2
        .card-header
          .title {{planName}}
          if isOwner
            .menu
              +UI.dynamic template="menuButton" data=planMenuData
          else
            .buttons
              if isFollowed
                .button.raised-button.unfollow unfollow
              else
                .button.raised-button.follow follow
      br
      br
      if isUserPlan
        +progress
      br
      br



      //.card.plan
      //  .header
      //    .plan-name {{planName}}
      //    if isOwner
      //      .plan-menu
      //        +UI.dynamic template="menuButton" data=planMenuData

      //  .divider
      .sortableData
        each modules
          +module


      br
      br
      br
      br
      br
