template(name="task")
  .task.list-item(id="{{_id}}")
    if isUserTask
      .checkbox
        input(type="checkbox", checked="{{checked}}")
        label
    .content 
      .task-name {{taskName}}
      .task-description {{taskDescription}}

    .buttons
      if taskLink
        a.icon-material-launch(href="{{taskLink}}", target="_blank")


  

