template(name="task")
  .task.list-item(id="{{_id}}")
    if isUserTask
      .checkbox
        input(type="checkbox", checked="{{checked}}")
        label
    .content(checked="{{checked}}")
      .task-name 
        if taskLink
          a(href="{{taskLink}}", target="_blank")
            span {{taskName}} 
            i.icon-material-launch(style="vertical-align: -10%;")
        else
          span {{taskName}}

      .task-description {{taskDescription}}
      if hasYoutubeVideo
        video.video-js.vjs-default-skin(src="",controls,width="30%",data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/embed/{{youtubeVideoId}}" }')

    if isOwner
      .buttons
        .icon-button.delete-task
          .icon-material-delete
        .icon-button.edit-task
          .icon-material-create


  

