template(name="task")
  .task.list-item(id="{{_id}}")
    if isUserTask
      .checkbox
        input(type="checkbox", checked="{{checked}}")
        label
    .content(checked="{{checked}}")
      .task-name 
        if taskLink
          a(href="{{taskLink}}", target="_blank")
            span {{taskName}} 
            i.icon-material-launch
        else
          span {{taskName}}
      .task-description {{taskDescription}}

    .buttons


  

