template(name="index3")
  #index
    section.welcome
      .image
        img(src="http://placehold.it/400x300px")
      .content
        .title Your plans, anywhere
        .login
          +loginButtons
      //.learn-more 
      //  span Learn More
      //  span 
      //    i.icon-material-expand-more

    .divider

    section.feature
      .content
        .title Manage your plans
        .description Manage your learning plans across platforms
      .image
        img(src="http://placehold.it/400x300px")


    section.feature
      .image
        img(src="http://placehold.it/400x300px")
      .content
        .title Follow trending plans
        .description Follow trending plans and advance your career

    section.feature
      .content
        .title Sync learning progress
        .description Sync the progress of your study groups
      .image
        img(src="http://placehold.it/400x300px")

     
    br
    br
    br
    .bottom-login
      +loginButtons
    br
    br
    br
    br
    br
    br
    br
