template(name="index")
  #index
    section.welcome
      .container
        .brand Mooqr
        .short-description Your learning plans

        .divider

        .title Finish your online courses in the right way
        .description Completion rates for the online courses are typically lower than 10%, with a steep participation drop starting in the first week. You need a better way to organize courses.
        .login
          +loginButtons
        .image
          .macbook
            img.device(src="/images/macbook.png")
            img.screenshot(src="/images/screenshot.png")
          .iphone
            img.device(src="/images/iphone.png")
            img.screenshot(src="/images/screenshot-small.png")


    section.features
      .container

        .feature
          .title Manage your plans
          .description There are too many courses to learn and we always forget some of them. Create your plans , then prioritize and finish them.

        .feature
          .title Sync your progress
          .description We can't always learn continuosly. Sync your progress, make sure you are always in the right steps.

        .feature
          .title Follow trending plans
          .description Experts have created effective plans. Follow trending plans and broaden your knownledge.

        .feature
          .title Interact with others
          .description It's not safe to learn alone. Create study groups. Share plans and discuss with each other.

    section.plans
      .container
        .section-title Featured Plans
        each plans
          .plan2.card2
            .card-header
              .title {{planName}}
            .card-divider

            if isContent
              .card-content 
                .plan-link
                  a(href="{{planLink}}", target="_blank") {{planLink}}
                .plan-description {{planDescription}}
              .card-divider

            .card-footer 
              span {{followers}} Followers
              .buttons
                .button.raised-button go
          

    section.login
      .container
        +loginButtons


