template(name="plan")
  #plan
    br
    br
    .container
      .card.plan
        .header
          .plan-name {{planName}}
          //button.add-module ADD NEW MODULE
          if isOwner
            .plan-more-button
              i.ion-more
            +planMoreMenu
        .divider
        //.content
        //  br

      each modules
        +module

template(name="planMoreMenu")
  .menu.plan-more-menu
    .item.add-module Add Module
    .item.rename Edit
    //.item.remove Remove


template(name="module")
  .card.module
    .header
      .module-name {{moduleName}}
      //button.add-task ADD NEW TASK
      if isOwner
        .module-more-button
          i.ion-more
        +moduleMoreMenu

    .divider
    .content
      ul.tasks
        each tasks
          li.task
            .checkbox
              input(type="checkbox", checked="{{done}}", id="{{_id}}")
              label(for="{{_id}}")
            .task-content {{taskName}}


template(name="moduleMoreMenu")
  .menu.module-more-menu
    .item.add-task Add Task
    .item.edit-module Edit
    .item.remove-module Remove
