template(name="plans")
  #plans

    .button.float-button.add-plan +

    br
    br
    .container

      .my-plans
        .header My Plans
        br

        .card
          each plans
            .plan
              .plan-title {{planName}}
              .plan-more
                i.ion-more
                +planItemMoreMenu


template(name="planItemMoreMenu")
  .menu.plan-item-more-menu
    .item.rename Rename
    .item.remove Remove
     
