template(name="menuButton")
  .material-menu-button
    .material-menu-icon
      i.icon-material-more-vert

template(name="menu")
  .material-menu
    each items
      +menuItem

template(name="menuItem")
  .material-menu-item {{label}}
             
