template(name="plans")
  #plans

    .button.float-button.add-plan +

    br
    br
    .container

      .your-plans
        .header Your Plans
        br
        .card2
          each plans
            .plan2
              .card-header
                .title {{planName}}
                //.plan-more
                //  i.ion-more
                //  +planItemMoreMenu

      br
      br
      br
      .followed-plans
        .header Followed Plans
        br
        .card2
          each followedPlans
            .plan2
              .card-header
                .title {{planName}}
                //.plan-more
                //  i.ion-more
                //  +planItemMoreMenu
        
      
      br
      br
      .discover-plans
        .header Discover Plans
        br
        .card2
          each otherPlans
            .plan2
              .card-header 
                .title {{planName}}
                //.plan-more
                //  i.ion-more
                //+planItemMoreMenu
                .button.raised-button.follow follow

    br
    br
    br

template(name="planItemMoreMenu")
  .menu.plan-item-more-menu
    .item.rename Rename
    .item.remove Remove
     
