template(name="searchPlans")
  .search-bar.card2
    label
      .search-icon
        i.icon-material-search
        //.input-text
      .search-input
        input.search-keyword(type="text")
      .search-clear
          i.icon-material-clear
  .search-results

template(name="plans")
  #plans

    .button.float-button.add-plan +


    br
    br
    .container
      +searchPlans
      br
      br

      if isOwnedPlans
        .your-plans
          .header Your Plans
          br
          .card2
            each ownedPlans
              .plan2
                .card-header
                  .title {{planName}}
        br
        br

      if isFollowedPlans
        .followed-plans
          .header Followed Plans
          br
          .card2
            each followedPlans
              .plan2
                .card-header
                  .title {{planName}}
                  .button.raised-button.unfollow unfollow
        br
        br

      .discover-plans
        .header Discover Plans
        br
        .card2
          each otherPlans
            .plan2
              .card-header 
                .title {{planName}}
                .button.raised-button.follow follow

    br
    br
    br

template(name="planItemMoreMenu")
  .menu.plan-item-more-menu
    .item.rename Rename
    .item.remove Remove
     
