template(name="plans")
  #plans

    .button.float-button.add-plan +

    br
    br
    .container

      .your-plans
        .header Your Plans
        br
        .card
          each plans
            .plan
              .plan-title {{planName}}
              .plan-more
                i.ion-more
                +planItemMoreMenu

      br
      br
      br
      .followed-plans
        .header Followed Plans
        br
        .card
          each followedPlans
            .plan
              .plan-title {{planName}}
              //.plan-more
              //  i.ion-more
              //  +planItemMoreMenu
        
      
      br
      br
      .discover-plans
        .header Discover Plans
        br
        .card
          each otherPlans
            .plan
              .plan-title {{planName}}
              //.plan-more
              //  i.ion-more
                //+planItemMoreMenu
              button.button.follow follow


template(name="planItemMoreMenu")
  .menu.plan-item-more-menu
    .item.rename Rename
    .item.remove Remove
     
