template(name="index2")
  #index
    br
    br
    .container


      .card
        .content
          .title Module 1 - Graphs and brute-force algorithms
        .divider
        .content
          ul
            li
              a(target="_blank", href="https://class.coursera.org/algorithmicthink-001/quiz/start?quiz_id=261") Homework 1
              p Due Date - Thu 4 Sep 2014 3:01 PM (PDT)
              p Hard Deadine - Sun 7 Sep 2014 3:01 PM (PDT)

            li
              a(target="_blank", href="https://class.coursera.org/algorithmicthink-001/assignment/view?assignment_id=11") Project 1 - Degree distributions for graphs
              p Due Date - Thu 4 Sep 2014 3:01 PM (PDT)
              p Hard Deadine - Sun 7 Sep 2014 3:01 PM (PDT)
            li
              a(target="_blank", href="https://class.coursera.org/algorithmicthink-001/human_grading/view?assessment_id=31") Application 1 - Analysis of citation graphs
              p Submission - Sun 7 Sep 3:01 PM (PDT)
              p Evaluation - Sun 14 Sep 3:01 PM (PDT)


      each count
        .card
          .content
            .title Module {{this}}
          .divider
          .content
            div To be continued ...
